streamlit
langchain 
pydantic 
lxml
"unstructured[all-docs]" 
langchain-google-genai
google.generativeai
chromadb
google-generativeai
langsmith 
langchainhub
openai 
tiktoken 
opencv-python
tensorflow-probability
imageio 
pillow




